@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

{margin : 0 ; padding :0; box-sizing:border-box;}
body{
    font-family: 'Noto Sans KR', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    /*background: url('https://cdn.pixabay.com/photo/2020/11/07/01/40/abstract-5719530_960_720.jpg') no-repeat center;*/
    /*https://blog.kakaocdn.net/dn/oeIE7/btqCEOjglYY/Lbm6l1WBxFxlsKK1SrApDK/img.jpg 보노보노*/
    background-size: cover;
}

/*body::before{*/
/*    content : "";*/
/*    position: absolute; z-index: 1;*/
/*    top:0; right:0; bottom:0; left:0;*/
/*    background-color: rgba(0,0,0,.7);*/
/*}*/

.login-form  {position: relative; z-index: 2;}
.login-form h1 {
    font-size: 32px; color : #000000;
    text-align: center;
    margin-bottom: 60px;
}

.int-area {
    width:450px; position: relative;

    margin-top : 20px;
}
.int-area:first-child {margin-top:0; }

.int-area input {
    width : 100%;
    padding: 20px 10px 10px ;
    background-color:  transparent;
    border: none;
    border-bottom: 1px solid #999;
    font-size : 18px; color :#000000;
    outline :none;
}

.int-area label {
    position : absolute; left: 10px; top : 15px ;
    font-size: 18px; color : #000000;
    transition: top .5s ease;
}

.int-area label.warning{
    color: red !important;
    animation: warning .3s ease;
    animation-iteration-count: 3;
}

.int-area input:focus + label,
.int-area input:valid + label{
    top: -2px;
    font-size:13px; color: #166cea;
}

.btn-area {position : relative; top : 10px; left : 10px;} /*이거슨 처음 짠 버튼입네다*/
.btn-area button{
    width : 100%; height : 40px;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    color : #000000;
    font-size : 18px;
    border: none;
    border-radius: 20px;
    cursor:pointer;
}
.btn-area2 {position : relative; top : 10px; left : 10px;} /*이거슨 qr로 로그인 버튼입네다*/
.btn-area2 button{
    width : 100%; height : 40px;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    color : #000000;
    font-size : 18px;
    border: none;
    border-radius: 20px;
    cursor:pointer;
}
.btn-area3 {position : relative; top : 10px; left : 10px;} /*이거슨 레지스터 버튼입니다*/
.btn-area3 button{
    width : 100%; height : 50px;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    color : #000000;
    font-size : 20px;
    border: none;
    border-radius: 20px;
    cursor:pointer;
}
.caption{
    position: relative;top:50px; left:10px;
    margin-top : 20px;
    text-align: center;
}
.caption a {
    font-size : 18px ; color : #000000;
    text-decoration: none;
}
.line{
    position: relative; top:10px; left:10px;
    display:flex;
    flex-basis: 100%;
    align-items:center;
    color:rgba(0,0,0,0.35);
    font-size:15px;
    margin:15px 0px;
}
.line::before {
    content:"";
    flex-grow:1;
    margin:0px 16px;
    background: rgba(0,0,0,0.35);
    height:1px;
    font-size: 0px;
    line-height: 0px;
}
.line::after {
    content:"";
    flex-grow:1;
    margin:0px 16px;
    background: rgba(0,0,0,0.35);
    height:1px;
    font-size: 0px;
    line-height: 0px;
}
